.card{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    align-self: center;

    background-color: var(--des-purple-);
    color: var(--mat-black-);

    padding: 2rem;

    width: 15rem;
    height: 15rem;
}