.container.login{
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mk-grey-);
    color: var(--mat-black-);

    padding: 1.2rem;
}

.card > form > * {
    display: block;
}

button{
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0;

    background-color: var(--mk-black-);
    color: var(--mk-white-);
    border: none;
    outline: none;
    padding: 3px 0;
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid var(--mk-black-);
    font-size: 1rem;
    margin-bottom: 11px;
}

input:focus{
    border: none;
    border-bottom: 1px solid var(--mk-black-);
    outline: none;
    background: none;
    font-size: 1rem;
}

.link{
    font-size: 0.6rem;
    text-decoration: underline;
}

.link:hover{
    color: var(--mk-white-);
    cursor: pointer;
}