.container.register{
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mk-grey-);
    color: var(--mk-black-);

    padding: 1.2rem;
}

.card > form > * {
    display: block;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
    background-color: var(--mk-white-80a-);
}

.modal div{
    display: block;
    text-align: center;
}