.container.register{
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mk-grey-);
    color: var(--mk-black-);

    padding: 1.2rem;
}

.card > form > * {
    display: block;
}