.card{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mk-grey-);
    color: var(--mat-black-);

    padding: 1.2rem;
}

.card > form > * {
    display: block;
}

.link{
    font-size: 0.4rem;
    text-decoration: underline;
}

.link:hover{
    color: var(--mk-white-);
    cursor: pointer;
}