/* .profile{
    display: block;
}

.cover{
    background: url('../../../public/test.jpeg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 7rem;
}

.photo{
    width: 7rem;
    height: 7rem;
    background-color: var(--mk-grey-);
    border-radius: 50%;
    position: relative;
    top: 3.5rem;
    left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deets{
    padding: 4rem 2rem;
    color: var(--mk-white-);
}

.deets button{
    background-color: var(--mk-white-);
    color: var(--mk-black-);
    border: 1px solid transparent;
    float: right;
}

.deets button:hover{
    border: solid 1px var(--mk-white-);
    background-color: var(--mk-black-);
    color: var(--mk-white-);
}

.user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    position: absolute;
    top: 13rem;
    left: 0;
}

.user-form form{
    background-color: var(--mk-white-);
    padding: 2rem;
    width: 100%;
}

.user-form input{
    width: 80%;
}

.user-form input[type='file']{
    width: 50px;
}

.hide{
    display: none;
}

@media screen and (min-width: 1024px){
    .deets{
        padding: 5rem 3rem;
    }

    .user-form{
        padding: 5rem 3rem;
    }
} */