.home{
    color: var(--mk-white-);
    display: grid;
    grid-template-columns: repeat(2, 100%);
    gap: 1rem;
    overflow: scroll;
    padding: 1.4rem;
}

.ccs-content{
    background-color: var(--mk-black-);
}

.list-container{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ccs-form{
    position: relative;
}

.ccs-form-fields{
    background-color: var(--mk-white-);
    padding: 1.4rem;
}

.ccs-form-fields label{
    display: block;
    color: var(--mk-black-);
    margin: 0;
    border: none;
}

.ccs-form-fields input{
    border-bottom: 1px solid var(--mk-black-);
}

.ccs-form-fields input:focus{
    border: none;
    border-bottom: 1px solid var(--mk-black-);
    outline: none;
}

@media screen and (min-width: 768px){
    .home{
        grid-template-columns: repeat(2, 48%);
    }
}