.nav{
    display: flex;
    background-color: var(--mk-grey-);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--mk-black-);
    padding: 1.4rem;
    gap: 1rem;
}

.icon-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: center;
}

.icon-container > * {
    margin: 0;
}

.circle{
    height: 2rem;
    width: 2rem;
    background-color: var(--mk-black-);
    color: var(--mk-white-);
    text-align: center;
    border-radius: 50%;
}

.borg{
    font-size: 2rem;
}

.borg:hover{
    color: white;
}

.link-container{
    margin: 0;
    display: none;
}

.link-container form button {
    margin: 0.4rem 0;
}

.nav-link{
    margin: 0;
    padding: 0;
}

.nav-link > li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 0.5rem;
    text-align: center;
}

#logout{
    display: none;
}

.toggle{
    display: block;
}

@media screen and (min-width: 768px){
    .borg{
        display: none;
    }

    .link-container{
        display: block;
        position: absolute;
    }

    .nav-link{
        display: flex;
        align-items: center;
    }

    #logout{
        display: block;
    }

    #logout-mob{
        display: none;
    }
}