.nav{
    display: flex;
    background-image: url('../../../public/Assets/4882066.jpg');
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--mk-black-);
    padding: 3rem;
    gap: 1rem;
}

.icon-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: center;
}

.icon-container > * {
    margin: 0;
}

.circle{
    height: 5rem;
    width: 5rem;
    /* background-color: var(--mk-black-); */
    color: var(--mk-white-);
    text-align: center;
    border-radius: 50%;
    background-image: url('../../../public/Assets/man.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini{
    display: none;
    position: absolute; 
    left: 10rem;
    cursor: pointer;
}

.mini ul li{
    margin: 0.5rem 0;
}

.borg{
    font-size: 2rem;
}

.borg:hover{
    color: white;
}

.link-container{
    margin: 0;
    display: none;
}

.link-container form button {
    margin: 0.4rem 0;
}


.header{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
}

.header > * {
    width: 100%;
    text-align: center;
    color: #fff;
}

.header h1{
    font-size: 4rem;
}

.header p{
    font-size: 1.8rem;
}

.nav-link{
    margin: 0;
    padding: 0;
}

.nav-link > li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 0.5rem;
    text-align: center;
}

#logout{
    display: none;
    cursor: pointer;
}

.toggle{
    display: block;
}

@media screen and (min-width: 768px){
    .borg{
        display: none;
    }

    .link-container{
        display: block;
        position: absolute;
    }

    .nav-link{
        display: flex;
        align-items: center;
    }

    #logout{
        display: block;
    }

    #logout-mob{
        display: none;
    }
}