.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

button{
  width: 100%;
  font-size: 1rem;
  margin: 1rem 0;

  background-color: var(--mk-black-);
  color: var(--mk-white-);
  border: none;
  outline: none;
  padding: 3px 0;
}

input{
  background: none;
  border: none;
  border-bottom: 1px solid var(--mk-black-);
  font-size: 1rem;
  margin-bottom: 11px;
}

input:focus{
  border: none;
  border-bottom: 1px solid var(--mk-black-);
  outline: none;
  background: none;
  font-size: 1rem;
}