@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

  --des-purple-: hsla(242, 58%, 73%, 1);
  --mat-black-: hsla(240, 1%, 15%, 1);
  --off-white-: hsla(0, 0%, 100%, 1);

  --mk-black-: #363636;
  --mk-white-: #ffffff;
  --mk-grey-: #d9d9d9

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mk-black-);
}