@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

  --des-purple-: hsla(242, 58%, 73%, 1);
  --mat-black-: hsla(240, 1%, 15%, 1);
  --off-white-: hsla(0, 0%, 100%, 1)
}

body {
  margin: 0;
  padding: 0;
}